html { 
  background: url('../images/sky2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height:100%;    
  background-size: cover;
}

#outshow{
position: relative; 
    
    text-align: center;
     
    margin: auto;
}

#showcover{
   display: inline-block;
   margin: auto;
    
}

.coverclass{
  width: 260px;    
  background-color:black;    
  font-size: 20px;
  color: aliceblue;
  font-weight:bold;
  font-family:monospace;    
  text-transform: uppercase; 

  border-style: solid solid solid solid;
    border-width: 4px;
    border-radius:13px;
    
    margin-left: 3px;
    margin-right: 3px;

    float: left;
    text-align: center;
    
}

.coverclass .albumname{
  font-size: 12px;
  color: aliceblue;
  font-weight:normal;
  font-family:fantasy;
    
}

body{
   
  min-width:1263px;
   
  height: 100%;
 margin: 0;
    padding: 0;
    border: 0;
 background-color:#ECD8AC;
   
   z-index: 0;
}



body .main {
    position: relative;
    top: 80px;
    
    z-index: 0;
    padding: 40px 0;
}

body  .main .container {
    position: absolute;
    top: 0px;
	width: 100%;
    z-index: 1;
}

a{
  text-decoration: none;
}


.YTcontainer {
     position: relative; 
    top:10px;
    text-align: center;
      width: 100%;   
    margin: 0 auto;
}








.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.header {
   position:absolute;  
  background-color: black;
    /*min-width:1263px;*/
    
    /*1263px;*/
    width: 100%;
    height:75px;
    top: 0px;
    
  z-index: 10;
  
    display: inline-block;
    
  
    
}

.header .intheheader{
  position: relative;
    background-color: black;
  min-width:1263px; 
    width:100%;
    height:100%;
    line-height: 0px;
    margin: 0 auto;
     border-bottom:solid;
    border-bottom-width:5px;
    border-color:white;
}

.intheheader .container-fluid {
  position: absolute;    
}

.intheheader  img {
  width: 75px;
  height: 75px;    
}

.intheheader #myHead {
  float: left;   
  margin: 0;
  padding: 0px 0 0px 0px;
}

.intheheader h1 {
  float: left;   
  color: #76D6C0;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 25px;
   position: relative; 
  margin: 0;
  padding: 35px 0 10px 0px;
}


.intheheader h2 {
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 16px;
    position: absolute;
    padding: 22px 0px 10px 0px;
    margin-left: 210px;
    margin-right: 510px;
    width: 370px;
}



.intheheader .menu-container{
      position: relative;
    
    float: right;
    /*left: 938px;*/
  width: 325px; 
    
  height: 100%;
    
    /*min-width: 310px;*/
  
    /*margin:0 auto;*/
    
}


.menu-container .menu{
    position: absolute;
    float: right;
    width:100%;
    height:100%;
    
    padding: 0;
    margin: 0;
}

.menu-container .menu .litab { 
    list-style:none; 
    position: relative;
    float:left;
    /**/
    line-height: 100px;
    /**/
    /*border-right:1px solid #757575;*/ 
    height: 100%;
    width:33%; 
    
    text-align:center; 

    -webkit-transition:all .15s ease-in; 
    transition:all .15s linear;
    
    
}

.menu-container .menu .litab a{
    height:75px;
    list-style:none; 
    color: white; 
    font-size:20px; 
    font-family:arial; 
    /**************link not only string but whole blcok*/
    display: block;
    /************************/

}

.menu-container .menu .litab .qq{
    width: 100%;
   
    list-style:none; 
    color: white; 
    font-size:20px; 
    font-family:arial; 

}

.menu-container .menu li a  img {
  width: 70px;
  height: 70px;    
}

/** add fo second level menu  **/
.menu-container .menu li  > ul{ 
    margin-top:-1px; 
    
    
    
    opacity:0 ; 
    height:0px;
}
.menu-container .menu li > ul li{ 
    list-style:none; 
    margin-left: -39px;
    margin-top:-10px; 
    /*
    border-left:5px solid white;
    border-right:5px solid white;
    */
    float:left;  
    border-bottom:5px solid white; 
    padding:0px; 
    position:relative; 
    width:100%; 
    text-align:center; 
    height:0px; 
    opacity:0; 
    /*check this */
    line-height: 25px;
}
.menu-container .menu li ul  li a{
    margin-top:-88px;
    font-size:0px;
    height:0px;
}
/** hovering the submenu*/
.menu-container .menu li:hover > ul {opacity:1; }
.menu-container .menu li:hover  > ul  li{ 
    height:25px;
    width: 107px;
    
    opacity:1; 
    /*padding:5px 5px;*/
    background: black;
}
.menu-container .menu li:hover  > ul  li a{ 
    margin-top:0px;
    font-size:12px; 
    color: white;
}
/**Apply extra style for submenu*/
.menu-container .menu li:hover  > ul  li:hover a{ 
    color:black; 
    padding:2px 5px;
    font-size:20px;
    line-height:35px; 
}
.menu-container .menu li:hover  > ul  li:hover{  
    background: #76D6C0;
    
    /*padding:0 0 0 7px ;*/
    height: 35px;
    
}


/******************************************************************/
